@charset "utf-8";
nav{position: fixed; left: 0; top: 0; width: 100%; background:rgba(0,0,0,0.80); padding: 10px 0;}
nav .container{position: relative;}
nav .nav-toggle{position: absolute; right:0; cursor: pointer; font-size: 1.2rem;}
nav .logo{color:#ff4655; font-size: 1.5rem; text-decoration: none; font-weight: bolder;}
nav .logo:hover{color:white;}
nav .menu{margin-top: 5px; display: none;}
nav .menu ul{list-style: none; margin: 0; padding: 0;}
nav .menu ul li{position: relative;}
nav .menu ul li a{text-decoration: none; color: white; padding: 10px 20px;; display: block;border-bottom: none; border-radius: 5px;}
nav .menu ul li a:hover{background:#ff4655; color: white; }

@media (min-width:1000px)
{
	nav .menu{display: block;}
	nav .nav-toggle{display: none;}
	nav .menu ul{display: flex;}
	nav .container{display: flex; justify-content: space-between; align-items: center;}
	mav .menu ul li a{ border-bottom: 1px dotted #ff4655}
}


/*NAVIGATION*/
.menu a{font-family: droneranger; margin-left:10px;}
nav .logo{font-size: 40px; font-family: agencyfb;}


/*ABOUT ME*/
#aboutMe .container{margin-top: 40px;}
#aboutMe img{border-radius: 10px;}
.s-contact{margin-top: 30px;}
.s-contact a{color: #ECE8E1; margin-right: 30px;}
.s-contact a:hover{color:#ff4655;}
p{font-family: montserrat-regular;}
section h1{font-family: droneranger; font-size: 40px;}
.bold-info{font-family: montserrat-bold;}


/*MY SKILLS*/
#skills p{margin-left: 30px; font-size: 20px;}
#skills img{border-radius: 10px;}


/*MY PROGRESS*/
#progress p{font-size: 20px;}


/*MY GALLERY*/
#gallery p{font-size: 20px;}
.s-contact2 a{margin:15px 10px 0 10px; color:#ff4655; font-size: 20px;}
.s-contact2 a:hover{color:white;}
#gallery img {max-width: 400px; max-height: 400px; margin: 10px;border-radius: 20px;}
